* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.image-list{
    padding: 50px;
    list-style: none;
    height: 100vh;
    display:grid;
    gap: 5px;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
}
.image-item img{
   width: 400px;
   height: 400px;
   object-fit: cover;
}
.image-item .icons{
    position: absolute;
    display: none;
}
.image-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-item i {
    color: white;
    font-size: 26px;

}
.imagem-item:hover .icons{
    display: block;
}